:root{
    font-size: 8px;
    --primary: #fd6;
    --secondary: #45c;
    --black: #000;
    --white: #fff;
    --special01: #0fc;
    --special02: #f05;
    font-family: "avenir next", sans-serif;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#wrapper{
    max-width: 84rem;
    margin: auto;
}

header {
    background-color: var(--secondary);
    text-align: center;
    padding:2rem;
}
header img{
    width:24rem;
    margin:0 0 1rem 0;
}

h2{
    font-size: 6rem;
    line-height: 1;
}

h4{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1rem;
    font-size: 2rem;
    line-height: 1;
}